<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecoreTest -->
      <package
            uri="http://eclipse.org/ocl/debug/test/ecoreTest"
            class="org.eclipse.ocl.examples.validity.test.ecoreTest.EcoreTestPackage"
            genModel="model/ecoreTest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecoreTest -->
      <package
            uri="http://eclipse.org/ocl/debug/test/ecoreTest2"
            class="org.eclipse.ocl.examples.validity.test.ecoreTest2.EcoreTest2Package"
            genModel="model/ecoreTest.genmodel"/>
   </extension>
</plugin>
