<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.emf.codegen.ecore.generatorAdapters">
     <adapterFactory class="org.eclipse.ocl.examples.codegen.oclinecore.OCLinEcoreGeneratorAdapterFactory"/>
     <adapterFactory modelPackage="http://www.eclipse.org/uml2/2.2.0/GenModel" class="org.eclipse.ocl.examples.codegen.oclinecore.OCLinEcoreGeneratorAdapterFactory"/>
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cgmodel -->
      <package
            uri="http://www.eclipse.org/ocl/1.0.0/CG"
            class="org.eclipse.ocl.examples.codegen.cgmodel.CGModelPackage"
            genModel="model/cgmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated cgmodel NOT -->
      <!-- parser
            contentTypeIdentifier="org.eclipse.ocl.examples.codegen.cgmodel"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/-->
      <parser
            contentTypeIdentifier="org.eclipse.ocl.examples.codegen.cgmodel"
            class="org.eclipse.ocl.examples.codegen.utilities.AbstractCGModelResourceFactory"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated cgmodel NOT -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="cgmodel"
            id="org.eclipse.ocl.examples.codegen.cgmodel"
            name="%_UI_CGModel_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/ocl/1.0.0/CG"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

</plugin>
