<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="NonEmptyFileToStopGenModelCreationOfUnwantedContent" name="dummy"></extension-point>

   <extension point="org.eclipse.emf.validation.constraintProviders"
         id="umlProvider">
      <category id="org.eclipse.ocl.examples.pivot.validation.UMLProfile/Internationalized.profile.uml"
            name="Internationalized.profile.uml">
         Constraints determined by parsing Internationalized.profile.uml
      </category>
      <constraintProvider>
         <package namespaceUri="http://www.eclipse.org/ocl/examples/Internationalized"/>
         <constraints categories="org.eclipse.ocl.examples.pivot.validation.UMLProfile/Internationalized.profile.uml">
            <constraint id="placeholderA" lang="Path"
                  name="=== The Internationalized.profile.uml Constraints A ==="
                  statusCode="101">
               <description>
Placeholder for the actual constraints in Internationalized.profile.uml.

The actual constraints are lazily loaded by the first validation run that uses them.</description>
               <message>No message</message>
               <!--param name="path" value="model/Internationalized.profile.uml"/-->
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider class="org.eclipse.ocl.examples.pivot.uml.UMLProfileConstraintProvider">
         <package namespaceUri="http://www.eclipse.org/ocl/examples/Internationalized"/>
         <constraints categories="org.eclipse.ocl.examples.pivot.validation.UMLProfile/Internationalized.profile.uml">
            <constraint id="placeholderB" lang="Path" statusCode="101"
                name="=== The Internationalized.profile.uml Constraints B ===">
               <description>
Placeholder for the actual constraints in Internationalized.profile.uml.

The actual constraints are lazily loaded by the first validation run that uses them.</description>
               <message>No message</message>
               <param name="path" value="model/Internationalized.profile.uml"/>
            </constraint>
         </constraints>
      </constraintProvider>
  </extension>
   <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext id="umlProvider.context" default="false">
         <selector class="org.eclipse.ocl.examples.pivot.validation.PivotClientSelector"/>
      </clientContext>
      <binding context="umlProvider.context"
            category="org.eclipse.ocl.examples.pivot.validation.UMLProfile/Internationalized.profile.uml"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Bug370824 NOT -->
      <!--package uri="http://bug370824" class="bug370824.Bug370824Package"/-->
      <package uri="dummy-protocol://dummy-nsuri/bug370824" class="codegen.company.CodegencompanyPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Bug409650 NOT -->
      <!--package uri="http://bug409650" class="bug409650.Bug409650Package"/-->
      <package uri="dummy-protocol://dummy-nsuri/bug409650" class="codegen.company.CodegencompanyPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Bug412685 NOT -->
      <!--package uri="http://bug412685" class="bug412685.Bug412685Package"/-->
      <package uri="dummy-protocol://dummy-nsuri/bug412685" class="codegen.company.CodegencompanyPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Bug412736 NOT -->
      <!--package uri="http://bug412736" class="bug412736.Bug412736Package"/-->
      <package uri="dummy-protocol://dummy-nsuri/bug412736" class="codegen.company.CodegencompanyPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Bug414855 NOT -->
      <!--package uri="http://bug414855" class="bug414855.Bug414855Package"/-->
      <package uri="dummy-protocol://dummy-nsuri/bug414855" class="bug414855.Bug414855Package"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Bug415782  NOT -->
      <!--package uri="http://bug415782" class="bug415782.Bug415782Package"/-->
      <package uri="dummy-protocol://dummy-nsuri/bug415782" class="bug415782.Bug415782Package"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSEs NOT -->
      <!--package uri="http://cses" class="cses.CSEsPackage"/-->
      <package uri="dummy-protocol://dummy-nsuri/cses" class="cses.CSEsPackage"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML_ValueTypes_QUDV NOT -->
      <!--package uri="http://www.omg.org/spec/SysML/20131220/SysML_ValueTypes_QUDV"
            class="SysML_ValueTypes_QUDV.SysML_ValueTypes_QUDVPackage"
            genModel="model/SysML_ValueTypes_QUDV.genmodel"/-->
      <package uri="dummy-protocol://dummy-nsuri/spec/SysML/20131220/SysML_ValueTypes_QUDV"
            class="SysML_ValueTypes_QUDV.SysML_ValueTypes_QUDVPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML_ValueTypes_QUDV NOT -->
      <!--package uri="http://www.omg.org/spec/SysML/20131220/PrimitiveValueTypes"
            class="SysML_ValueTypes_QUDV.PrimitiveValueTypes.PrimitiveValueTypesPackage"
            genModel="model/SysML_ValueTypes_QUDV.genmodel"/-->
      <package uri="dummy-protocol://dummy-nsuri/spec/SysML/20131220/PrimitiveValueTypes"
            class="SysML_ValueTypes_QUDV.PrimitiveValueTypes.PrimitiveValueTypesPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML_ValueTypes_QUDV NOT -->
      <!--package uri="http://www.omg.org/spec/SysML/20131220/UnitAndQuantityKind"
            class="SysML_ValueTypes_QUDV.UnitAndQuantityKind.UnitAndQuantityKindPackage"
            genModel="model/SysML_ValueTypes_QUDV.genmodel"/-->
      <package uri="dummy-protocol://dummy-nsuri/spec/SysML/20131220/UnitAndQuantityKind"
            class="SysML_ValueTypes_QUDV.UnitAndQuantityKind.UnitAndQuantityKindPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML_ValueTypes_QUDV NOT -->
      <!--package uri="http://www.omg.org/spec/SysML/20131220/QUDV"
            class="SysML_ValueTypes_QUDV.QUDV.QUDVPackage"
            genModel="model/SysML_ValueTypes_QUDV.genmodel"/-->
      <package uri="dummy-protocol://dummy-nsuri/spec/SysML/20131220/QUDV"
            class="SysML_ValueTypes_QUDV.QUDV.QUDVPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Bug416421A NOT -->
      <!--package uri="example.org/bug416421A"
            class="bug416421A.Bug416421APackage"/-->
      <package uri="dummy-protocol://dummy-nsuri/bug416421A"
            class="bug416421A.Bug416421APackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Bug416421B NOT -->
      <!--package uri="example.org/bug416421B"
            class="bug416421B.Bug416421BPackage"/-->
      <package uri="dummy-protocol://dummy-nsuri/bug416421A"
            class="bug416421A.Bug416421APackage"/>
   </extension>

</plugin>
