/EvaluateBooleanOperations
/EvaluateCollectionOperations
/EvaluateConstructs
/EvaluateModelOperations
/EvaluateNameVisibility
/EvaluateNumericOperations
/EvaluateOclAnyOperations
/EvaluateStringOperations
/Iterators
/bug*
/test_package
