<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.validation.traversal">
      <traversalStrategy
            class="org.eclipse.ocl.examples.pivot.uml.UMLTraversalStrategy"
            namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML">
         <eclass name="Model"/>
      </traversalStrategy>
   </extension>

</plugin>
