<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OCLinEcoreCS -->
      <package
            uri="http://www.eclipse.org/ocl/3.1.0/OCLinEcoreCST"
            class="org.eclipse.ocl.examples.xtext.oclinecore.oclinecorecs.OCLinEcoreCSPackage"
            genModel="model/OCLinEcoreCS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated OCLinEcoreCS -->
      <parser
            contentTypeIdentifier="org.eclipse.ocl.examples.xtext.oclinecore"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated OCLinEcoreCS -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="oclinecorecs"
            id="org.eclipse.ocl.examples.xtext.oclinecore"
            name="%_UI_OCLinEcoreCS_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/ocl/3.1.0/OCLinEcoreCST"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

</plugin>
