<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="oclinecore" type="text" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/3.1.0/OCLinEcoreCST" 
       class = "org.eclipse.ocl.examples.xtext.oclinecore.oclinEcoreCST.OCLinEcoreCSTPackage"
       genModel = "model/OCLinEcoreCST.genmodel" /> 
	
  </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated OCLinEcoreCST -->
      <parser
            contentTypeIdentifier="org.eclipse.ocl.examples.xtext.oclinecore"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated OCLinEcoreCST -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="oclinecorecst"
            id="org.eclipse.ocl.examples.xtext.oclinecore"
            name="%_UI_OCLinEcoreCST_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/ocl/3.1.0/OCLinEcoreCST"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

</plugin>
