<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Values NOT -->
      <!--package
            uri="http://ww.eclipse.org/OCL/Values"
            class="org.eclipse.ocl.examples.domain.values.ValuesPackage"
            genModel="model/Values.genmodel"/-->
      <package
            uri="http://ww.eclipse.org/OCL/Values"
            class="org.eclipse.ocl.examples.domain.values.impl.ValuesPackageImpl"
            genModel="model/Values.genmodel"/>
   </extension>

   <extension point="org.eclipse.ocl.examples.common.label_generator">
      <generator for="org.eclipse.ocl.examples.domain.elements.Nameable"
      	class="org.eclipse.ocl.examples.domain.utilities.NameableLabelGenerator"/>
   </extension>

</plugin>
