<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ww.eclipse.org/OCL/Values"
            class="org.eclipse.ocl.examples.domain.values.impl.ValuesPackageImpl"
            genModel="model/Values.genmodel"/>
   </extension>

</plugin>
