<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

 <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester id="org.eclipse.ocl.examples.ui.propertyTester"
          class="org.eclipse.ocl.examples.ui.OCLPropertyTester"      
          namespace="org.eclipse.ocl.examples.ui"
          properties="resourceSetAvailable"
          type="java.lang.Object"/>
 </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.emf.ecore.presentation.EcoreEditorID?after=additions">
         <menu id="org.eclipse.ocl.examples.ui.Menu" label="%MF_OCL">
            <separator name="load" visible="true"/>
            <separator name="save" visible="true"/>
            <separator name="set" visible="true"/>
            <separator name="show" visible="true"/>
         </menu>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.emf.examples.extlibrary.presentation.EXTLibraryEditorID?after=additions">
         <menu id="org.eclipse.ocl.examples.ui.Menu" label="%MF_OCL">
            <separator name="load" visible="true"/>
            <separator name="save" visible="true"/>
            <separator name="set" visible="true"/>
            <separator name="show" visible="true"/>
         </menu>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.emf.ecore.presentation.ReflectiveEditorID?after=additions">
         <menu id="org.eclipse.ocl.examples.ui.Menu" label="%MF_OCL">
            <separator name="load" visible="true"/>
            <separator name="save" visible="true"/>
            <separator name="set" visible="true"/>
            <separator name="show" visible="true"/>
         </menu>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.uml2.uml.editor.presentation.UMLEditorID?after=additions">
         <menu id="org.eclipse.ocl.examples.ui.Menu" label="%MF_OCL">
            <separator name="load" visible="true"/>
            <separator name="save" visible="true"/>
            <separator name="set" visible="true"/>
            <separator name="show" visible="true"/>
         </menu>
      </menuContribution>
      <menuContribution locationURI="popup:#TextEditorContext?after=additions">
         <menu id="org.eclipse.ocl.examples.ui.Menu" label="%MF_OCL">
            <separator name="load" visible="true"/>
            <separator name="save" visible="true"/>
            <separator name="set" visible="true"/>
            <separator name="show" visible="true"/>
         </menu>
      </menuContribution>
   </extension>

</plugin>
