<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <extension point="org.eclipse.emf.ecore.generated_package">
    <package uri = "http://www.omg.org/spec/UML/20131001" 
       class = "org.eclipse.uml2.uml.UMLPackage" /> 
  </extension>
  
  <extension point="org.eclipse.emf.ecore.uri_mapping">
     <mapping source="http://www.omg.org/spec/DD/20131001/" target="model/"/>
     <mapping source="http://www.omg.org/spec/UML/20131001/" target="model/"/>
  </extension>

  <extension point="org.eclipse.emf.ecore.content_parser">
     <parser contentTypeIdentifier="org.omg.uml2_5"
           class="org.eclipse.ocl.examples.uml25.XMI252UMLResourceFactoryImpl" />
  </extension>

  <extension  point="org.eclipse.core.contenttype.contentTypes">
         
     <content-type id="org.omg.uml2_5"
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="xmi"     
           name="%_UI_OMG_UML_2_5_content_type"
           priority="normal">
        <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter name="namespacePattern" value="http://www\.omg\.org/spec/UML/20131001" />
           <parameter name="kind" value="xmi" />
        </describer>
     </content-type>
  </extension>

</plugin>
